[submodule "upcxx-utils"]
	path = upcxx-utils
	url = https://bitbucket.org/berkeleylab/upcxx-utils.git
	branch = mhmxx
[submodule "zstr"]
	path = zstr
	url = https://github.com/JGI-Bioinformatics/zstr.git
[submodule "test/googletest"]
	path = test/googletest
	url = https://github.com/google/googletest/
[submodule "plog"]
	path = plog
	url = https://github.com/SergiusTheBest/plog.git
[submodule "ipuma-lib"]
	path = ipuma-lib
	url = git@github.com:xiamaz/ipuma-lib.git
